.canopy {
  color: green;
  width: 75%;
  font-family: sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

.frog {
  color: orange;
  width: 75%;
  font-family: sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about {
  text-align: right;
  color: purple;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
}

.tarzan {
  color: orangered;
  font-family: sans-serif;
  width: 75%;
}

.title {
  text-align: right;
  color: darkred;
  font-family: sans-serif;
}
